body {
    background-color: #212529;
}

@media (min-width: 520px) {
    .numberButtonRow {
        display: flex;
    }

    .extraButtonRow {
        display: flex;
    }
}

@media (max-width: 523px) {
    .numberButtonRow {
        display: block;
    }

    .extraButtonRow {
        display: inline-block;
    }
}
